<a href="https://colab.research.google.com/github/AllisonOdette0901/Phyton-Notas/blob/main/IntroPhyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Phyton

### Lista de listas

In [ ]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

Para acceder a los elementos de la lista será mediante los corchetes y colocando el número del espacio que desees. Recordando que la numeración en Phyton comienza desde 0. Entonces para un arreglo de tamaño **n** la numeración de las entradas comienzan desde el **0** hasta el **n-1**.

También puedes tomar fragmentos de las listas siguiendo la siguiente lógica: $[start:end]$ el número que coloques en el lugar *start* estará incluido en la lista, mientras que el número *end* no lo estará.

Otra forma de tomar un segmento es $[:m]$ el segemento incluye todos los elementos de la lista hasta el elemento con índice *m*.

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[-5])

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3]+areas[-3]

# Print the variable eat_sleep_area
print(eat_sleep_area)

# Use slicing to create downstairs
downstairs= areas[0:6]

# Use slicing to create upstairs
upstairs=areas[6:10]

# Print out downstairs and upstairs
print(downstairs,upstairs)

# Alternative slicing to create downstairs

downstairs=areas[:6]

# Alternative slicing to create upstairs
upstairs=areas[6:]

Ahora prueba tú mismo el siguiente código, qué diferencia hay entre x[2][0] y x[2][:2]?

In [ ]:
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
x[2][0]
x[2][:2]

## Manipulación de listas


1.  Cambiar elementos de la lista
2.  Añadir elementos a la lista
3.  Eliminar elementos de una lista

Veamos un ejemplo del primer punto.

Supongamos que tenemos una lista de artículos con sus precios y quisieramos actualizarla con un elemento más junto con su respectivo precio, esto lo haremos de la siguiente forma:

In [ ]:
tienda = ['manzanas', 15.5, 'naranjas', 24.3, 'uvas', 90.5, 'sandía', 50.3]

In [ ]:
# Añadimos un nuevo producto
tienda + ['fresas',89.4]

Ahora para copiar los valores de una lista se hace de la siguiente manera. Si tuviermaos la lista **x** como se muestra a continuación y queremos hacer una copia exacta renombrandola en otra variable **y**. Lo ideal es colocar el signo de "=".
Sin embargo, al hacer una modificación en **y** también se verá reflejada en **x**.

Así que la manera correcta de hacerlo es de la siguiente forma:

In [ ]:
x = ['a','b','c']

In [ ]:
# copia de x
# forma 1
y = list(x)
#forma 2
y = x[:]

De esta manera alguna alteración a la lista **y** o **x** no afecta una a la otra.

Y la manera de eliminar un elemento de la lista es de la siguiente forma:

In [ ]:
x = ["a", "b", "c", "d"]
del(x[1])

Ejercicio:

Tienes planeado comprar la siguiente casa, sin embargo gastaste más de lo planeado y debes eliminar uno de ellos.
Puedes utilizar el siguiente comando:

El signo ; se utiliza para colocar comandos en la misma línea. Los dos trozos de código siguientes son equivalentes:

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

In [ ]:
#Eliminando la piscina
del(areas[-4:-2])

## Funciones

Vamos a revisar algunas funciones que pueden ser útiles.



*   `max()`: recibe una lista y devuelve el elmento máximo de una lista.
*   `round()`: recibe dos entradas, la primera el número que deseas redondear y la segunda la precisión con la que quieres redondear, es decir, la cantidad de dígitos que deseas tener después del punto decimal. Si no se especifica la segunda entrada phyton redondea al entero más cercano.
*  `help()`: recibe el nombre de la función con la que necesites ayuda.

In [ ]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first+second

# Sort full in descending order: full_sorted
full_sorted=sorted(full, reverse = True)

# Print out full_sorted
print(full_sorted)

### Métodos

Pueden ser vistos como "funciones" que pertenecen a los objetos de phyton.

Veamos como funcionan, utilizando la lista que se muestra a continuación, se tienen distintos artículos que tienen asociado un peso y todos estan contenidos en una mochila.

In [1]:
mochila = ['colores', 1.5 , 'cuadernos', 3.4, 'tableta', 3.5, 'botella', 2, 'libros', 4.6]

Ahora vamos hacer uso de un método que indica en donde está cierto artículo que busquemos. Por ejemplo queremos ver en que posición está la botella.

In [2]:
mochila.index('botella')

6

Si quisieramos saber cu'antos artículos de peso 3.5 tenemos se usa el método count().

In [3]:
mochila.count(3.5)

1

Así podemos encontrar más métodos para otros tipos de objetos en phyton. Por ejemplo:


*   `replace()`: función que reemplaza la letra que desees por otra en todo tu archivo. `palabra.replace('a','i')` donde haya una letra 'a' en la palabra 'palabra' colocara un a'i'.
*   `append()`: es una función que concatena al final de la lista el nueve elemento que coloqes dentro de los paréntesis.

### Paquetes
Algunos paquetes importantes son:


*   Numpy: ayuda a trabajar más eficiente con los datos.
*   Matplotlib: ayuda con la visualización de los datos.
*   scikit-learn: para aprendizaje automático.

## Numpy

Esta librería permite realizar cálculos en arreglo completos de manera fácil y rápida. Aunque debemos tener en cuenta que Numpy solo acepta arreglos de un solo tipo de datos. También tienen sus propios métodos por lo tanto debemos tener cuidado en eso. Veamos un ejemplo:

In [4]:
# importamos la paquetería primero
import numpy as np

In [5]:
phyton_list = [1, 2, 3]
numpy_array = np.array([1, 2, 3])

In [7]:
# imprime la primera línea y luego la segunda para que observes la diferencia
phyton_list+phyton_list #concatena

#segundo ejemplo descomenta la siguiente línea
#phyton_list+numpy_array #suma entrada con entrada

[1, 2, 3, 1, 2, 3]

In [ ]:
# Import the numpy package as np
#import numpy as np

# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Create a numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out type of np_baseball
print(type(np_baseball))

### Type and Numpy arrays
Vamos a ver ahora los arreglos n-dimensionales.

In [8]:
# creamos dos listas
np_weight = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_height = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

In [9]:
# ahora veamos que la diemnsión de ambos arreglos es unidimensional.
type(np_weight)

numpy.ndarray

In [10]:
# Ahora convirtamoslo en un 2D Numpy
np_2d =  np.array([[1.73, 1.68, 1.71, 1.89, 1.79], [65.4, 59.2, 63.6, 88.4, 68.7] ])

In [11]:
# el tamaño del arreglo puede verse usando el siguiente método
np_2d.shape  # (2, 5) 2 filas y 5 columnas

(2, 5)

Ahora para acceder a los elementos de los n-arreglos se hará de la siguiente forma: np_nd[row][column]

In [12]:
np_2d[0][2] # 0 indica el primer renglón, 2 es la columna 3.

1.71

In [13]:
#forma alternativa
np_2d[0, 2]

1.71

In [14]:
# si queremos los elementos de las columnas 1 y 2
np_2d[:,1:3]

array([[ 1.68,  1.71],
       [59.2 , 63.6 ]])

In [15]:
# si queremos los valores de pesos accedemos de la sig. forma
np_2d[1,:]

array([65.4, 59.2, 63.6, 88.4, 68.7])

Numpy también puede realizar las siguientes operacones las cuales pueden ser bastante útiles para datos muy grandes.

* `np.mean()`: ayuda a obtener el promedio de los datos que ingresen.
* `np.median()`: obtiene la mediana del arreglo.
* `np.corrcoef(arr1, arr2)`: correlación entre dos arreglos.
* `np.std()`: desviación estándar de un arreglo.
* `np.sum(), np.sort()`...

**Nota**: al referirnos a un arreglo estamos asumiendo que son objetos np.array()

# Phyton intermedio

Comenzaremos a utilizar Matplotlib para la visualización de datos.